/* General tag styling section */
body {
  padding:0;
  margin:0;
}

p {
  font-family: 'Abel', sans-serif;
}

/* Navigation styling section */

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000; /* Ensures navigation bar is always on top */
}

.navigation ul {
  padding:0;
}

.navigation li {
  color:#14213D;
  font-family: 'Abel', sans-serif;
  display: inline-block; /* Displays each li item horizontally */
  font-size: 20px;
  font-weight: 300;
  margin: 16px 24px;
}

.navigation a:link {
  text-decoration: none;
  color: black;
}

.navigation a:visited {
  text-decoration: none;
  color: black;
}

.navigation a:hover {
  text-decoration: none;
}

.navigation a:active {
  text-decoration: none;
}

#logo {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

/* Cover styling section */

#cover {
  background: url("mechanic-tools.jpeg") no-repeat center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  width: 100%;
  top: -55px;
  position: relative;
}

.cover-content {
  background-color: rgba(20,20,20,0.8);
  box-sizing: border-box;
  color: #FFF;
  text-align:center;
  font-family: 'Abel', sans-serif;
  margin: 0 auto;
  position: relative;
  top: 280px;
  width: 70%;
}

.cover-content a {
  color: #FFF;
}

/* Sections styling section */

.items {
  width:100%;
  background-color: rgb(255,255,255);
  margin: 0 auto;
}

.section1{
  position:relative;
}

.section1Header {
  font-family: 'Raleway', sans-serif;
  color: rgb(22, 44, 150);
  padding-bottom: 20px;
  text-align: center;
}

.section1Body {
  width: 60%;
  text-align: left;
  margin: 0 auto;
  font-size: 18px;
}

.section1Body h2 {
  font-family: 'Raleway', sans-serif;
  color: rgb(22, 44, 205);
}

/* Services section */

.services-content {
  width: 80%;
  margin: 20px 25%;
}

.services-left {
  float:left;
  margin-right: 0%;
  width:50%;
}
.services-right {
  float:right;
  width: 50%;
  margin-right: 0%;
}

.services-content li {
  color:#14213D;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 16px 24px;
}

h4.services-h4 {
  color: rgb(22, 44, 205);
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

ul.services-ul {

}

/* Contact section */

.contact-details {
  width: 50%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  color: rgb(22, 44, 205);
}

#map {
  height: 400px;
  width: 65%;
  margin: auto;
}

/* Footer Section */

.footer {
  background-color: rgb(20, 21, 22);
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 20px auto 0 auto;
}

.footer ul {
  padding: 0;
}

.footer li {
  color: white;
  font-family: 'Abel', sans-serif;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  margin: 16px 24px;
}

.footer a:link {
  color: white;
}

.footer a:visited {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
}

.footer a:active {
  text-decoration: none;
}
